<h2>Covid Stories</h2>
<%if @stories%>
<strong><%=@stories.last.title%></strong><br>
<%=@stories.last.content%><br><br>
  <%if @stories.length <= 10%>
  <%@sorted_stories[1..-1].each do |story| %>
    <strong><%=story.title%></b></strong><br>
     <%=story.content%><br><br>
    <%end%>
  <%else%>
  <%@random_stories.each do |story| %>
    <strong><%=story.title%></strong><br>
    <%=story.content%><br><br>
    <%end%>
  <%end%>
  <%end%>


<%if logged_in?%>
  <form action="/stories/new" method="get">
    <p><input type="submit" class="button" value="create new story"></p>
  </form>
  <form action="/stories" method="get">
    <p><input type="submit" class="button" value="view your stories"></p>
  </form>
  <form action="/logout" method="post">
    <p><input type="submit" class="button" value="logout"></p>
  </form>
<%else%>
  <form action="/stories/new" method="get">
    <p><input type="submit" class="button" value="post anonymously"></p>
  </form>
  <form action="/login" method="get">
    <p><input type="submit" class="button" value="login"></p>
  </form>
  <form action="/signup" method="get">
    <p><input type="submit" class="button" value="signup"></p>
  </form>
<%end%>
